/*==================== PRODUCT CARD PAGE ====================*/
.product-fl-pg {
	h1 {
		margin-bottom: 15px;
	}

	.product {
		margin-top: 38px;
	}

	.related-products-b + .related-products-b {
		margin-top: 30px;
	}

	@include desctop-min {
		.related-products-b + .related-products-b {
			margin-top: 10px;
		}
	}

	@include mobile {
		.related-products-b + .related-products-b {
			margin-top: 0;
		}
	}
}
